.promotion-container {
    width: 1440px;
    margin: auto;
    padding: 0px 165px;
    padding-top: 180px;

    .right {
        position: absolute;
        bottom: 0%;
        right: -7%;
        width: 200px;
    }

    .content {
        align-items: flex-start;

        .headline {
            color: #ffffff;
            font-size: rem(48px);
            width: 410px;
            padding-top: 25px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: -15%;
                width: 50px;
                height: 4px;
                background-color: $clr5;
            }

            h1 {
                margin: unset;
                max-width: 15ch;
                font-family: vicBold, sans-serif;
            }
        }

        .info {
            max-width: 430px;
            color: #ccd5d6;

            ul {
                padding-left: unset;
                list-style: none;
                margin-left: -180px;
            }

            .promotion-item {
                gap: 20px;

                h3 {
                    font-size: rem(18px);
                    color: $clr5;
                }
            }
        }
    }
}